/*Universal Styles*/

html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #625834;
    font-family: "Quicksand", "Helvetica", sans-serif;
    min-width: 100%;   
}

h2 {
    font-family: "Gentium Book Basic", times, serif;
    font-size: 3rem;
}

h3 {
    font-family: "Quicksand", "Helvetica", sans-serif;
    font-size: 1.75rem;
    color: white;
    letter-spacing: .2rem;
}

h4 {
    font-family: "Raleway", "Helvetica", sans-serif;
    font-size: 1.25rem;
}

p {
    display: inherit;
    font-family: "Gentium Book Basic", times, serif;
    font-size: 2.1rem;
    font-style: italic;
}

a:visited {
    color: #FFFBDB;
    text-decoration: none;
}

a:hover {
    color: #F4C913;
}

/*nav bar*/

 #nav-bar {
    display: flex;
    position: fixed;
    min-width: 100%;
    height: 3.5rem;
    justify-content: stretch;
    align-items: center;
    background-color: #30362F;
    font-size: 1rem;  
    border-bottom: white 1px solid;
    z-index: 10; 
 }

 .mobile {
    display: none;
 }

#logo-icon a{ 
    padding: 0 .5em;
}

 #logo-icon img{
    width: 2.75em 
 }

 #nav-bar ul {
    display: inline-flex;
    flex-wrap: nowrap;
    padding-left: 1em;
    padding-right: 1em;
    font-family: "Quicksand", "helvetica", sans-serif;
    color: white;
    list-style: none;
 }

 #nav-bar li a{
    padding-right: 1.5em;
    font-size: 1em;
    width: 100%;
 }

 #nav-bar .spacer {
    display: flex;
    flex: 2;
    width: 53%;
 }

 #shopping-cart {
    justify-content: flex-end;
    width: 2em;
    padding-right: 1rem;
 }

 #shopping-cart img {
    justify-content: flex-end;
    width: 2em;
 }
 
 /*Banner*/

 banner {
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-direction: column;
    top: 3.5rem;
    width: 100%;
    height: 35rem;
    background-image: url("file:///C:/Codecademy/All%20Hands%20Woodworking/Resources/Images/workshop_banner.jpg");
    background-position: 25%;
    background-size: cover;
    justify-content: center;
    align-items: center;
 }

.full-logo {
    display: flex;
    flex-shrink: .1;
    max-width: 25rem;
}

.full-logo img {
    width: 100%;
    background-color: rgba(19, 21, 18, .6);
    border-radius: 90%;
    
}

/*Mission*/

.mission {
    display: flex;
    position: relative;
    top: 3.4rem;
    margin: 6rem auto;
    justify-content: center;
}

.mission-content {
    display: flex;
    color: white;
    width: 75%;
    justify-content: center;
    align-items: center;
}

.mission-content p {
    justify-content: center;
    text-align: center;
}

/*Showroom*/

.showroom {
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    justify-content: center;
    position: relative;
    top: 3.4rem;
    background-color: #30362F;
    width: 100%;
}

.showroom .title {
    display: flex;
    justify-content: flex-start;
    padding: 2rem 3rem;
    margin-top: 3rem;
}

.collection-panels {
    display: flex;
    justify-content: center;
    flex-direction: row;
    height: auto;
    width: 100%;
}

.collection-panels container {
    justify-content: center;
    width: 33%;
    background-color: rgba(19, 21, 18, .4);
}

.collection-panels img {
    display: flex;
    justify-content: center;
    width: 100%;
    opacity: .1;
}

.collection-panels img:hover{
    opacity: 1;
    transition: ease-in .3s;
}

.collection-panels h3 {
    justify-content: center;
    color: #30362F;
    padding: .75rem 0rem 1.5rem;
    margin-bottom: 3rem;
    margin-top: -3rem;
    width: 100%;
    font-size: 1rem;
    letter-spacing: 1.5;
    text-align: center;
    vertical-align: center;
    text-decoration: underline;
}

/*Saturdays*/

.saturday {
    display: flex;
    position: relative;
    top: 3.4rem;
    background-image: url("file:///C:/Codecademy/All%20Hands%20Woodworking/Resources/Images/shop_saturdays.jpg");
    background-position: 25%;
    background-size: cover;
    align-items: center;
    width: 100%;
    height: 35rem;
}

.saturday h2 {
    display: flex;
    color: white;
    font-size: 2.45rem;
    background-color: rgba(218, 116, 34, .3);
    width: 100%;
    justify-content: center;
}

.saturday h2:hover {
    background-color: rgba(218, 116, 34, 1);
    transition: ease-in .3s;
}

.saturday a:hover {
    color: white;
}

.saturday img {
    display: none;
}

/*Footer*/
    
    footer {
        display: inline-flex;
        flex-direction: column;
        position: relative;
        width: 100%;
        top: 3.4rem;
        border-top: 1px white solid;
    }

    footer li {
        display: inline-flex;
        padding: .5rem 1rem;
    }

    footer a {
        padding: auto 0;
    }

    footer img {
        width: 2.5rem;
        margin-left: 1rem;
        justify-content: flex-start;
    }

    footer #address {
        display: flex;
        justify-content: flex-end;
        padding: 1.5rem;
    }

/*mobile nav-bar*/
    
@media only screen and (max-width: 600px) {
    
    nav .desktop {
        display: none;
    }

    nav .mobile {
        display: flex;
    }

    nav .mobile img {
        display: inline-flex;
        align-self: flex-start;
        width: 2rem;
    }
}